<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>

<style>

</style>
</head>
<body>
<div id="app1">
<form action="">
    <input type="checkbox" v-model="searchTransp" value="car">car
    <input type="checkbox" v-model="searchTransp" value="boat">boat
    <input type="checkbox" v-model="searchTransp" value="rocket">rocket
</form>
<p>Select: {{searchTransp}}</p>
</div>
<script type="text/javascript">
// Привязка 
let sample = new Vue({
    el: "#app1",
    data: {
        searchTransp: []
    }
})

    
</script>
</body>
</html>